<div id="<%= dom_id player %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= player.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Team:</strong>
    <%= player.team_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Seasons:</strong>
    <%= player.seasons %>
  </p>

</div>
